<h1 class="p-title">{{fa-icon "search" fixedWidth=true}} Search Result</h1>
<div>
  <span class="p-key">Article: </span>
  <span class="p-value"><a class="p-link" href="{{details.match.link}}">{{details.match.label}} {{fa-icon "external-link" class="external-link-icon"}}</a></span>
</div>
{{#if (gt details.relatedList.length 0)}}
  <h1 class="p-title">{{fa-icon "link" fixedWidth=true}} Related Wikipedia Articles</h1>
  <ul class="link-list">
    {{#each details.relatedList as |item|}}
      <li><a class="p-link" href="{{item.link}}">{{item.label}}</a></li>
    {{/each}}
  </ul>
{{/if}}

